team_name,sandbox_account_id,email,first_name,last_name
apu-finalist-1,111111111111,leader1@university.edu,Ahmad,Rahman
apu-finalist-1,111111111111,member1a@university.edu,Budi,Santoso
apu-finalist-1,111111111111,member1b@university.edu,Citra,Dewi
apu-finalist-1,111111111111,member1c@university.edu,Dian,Pratama
apu-finalist-1,111111111111,member1d@university.edu,Eka,Putri
apu-finalist-2,222222222222,leader2@university.edu,Fajar,Hidayat
apu-finalist-2,222222222222,member2a@university.edu,Gita,Sari
apu-finalist-2,222222222222,member2b@university.edu,Hadi,Wijaya
apu-finalist-2,222222222222,member2c@university.edu,Indah,Lestari
apu-finalist-3,333333333333,leader3@university.edu,Joko,Susanto
apu-finalist-3,333333333333,member3a@university.edu,Kartika,Wulandari
apu-finalist-3,333333333333,member3b@university.edu,Lukman,Hakim
apu-finalist-3,333333333333,member3c@university.edu,Maya,Anggraini
apu-finalist-3,333333333333,member3d@university.edu,Nanda,Permana
apu-finalist-3,333333333333,member3e@university.edu,Oki,Setiawan
apu-finalist-3,333333333333,member3f@university.edu,Putri,Rahayu
