team_name,email,first_name,last_name
team-alpha,leader1@university.edu,Ahmad,Rahman
team-alpha,member1a@university.edu,Budi,Santoso
team-alpha,member1b@university.edu,Citra,Dewi
team-alpha,member1c@university.edu,Dian,Pratama
team-alpha,member1d@university.edu,Eka,Putri
team-beta,leader2@university.edu,Fajar,Hidayat
team-beta,member2a@university.edu,Gita,Sari
team-beta,member2b@university.edu,Hadi,Wijaya
team-beta,member2c@university.edu,Indah,Lestari
team-gamma,leader3@university.edu,Joko,Susanto
team-gamma,member3a@university.edu,Kartika,Wulandari
team-gamma,member3b@university.edu,Lukman,Hakim
team-gamma,member3c@university.edu,Maya,Anggraini
team-gamma,member3d@university.edu,Nanda,Permana
team-gamma,member3e@university.edu,Oki,Setiawan
team-delta,leader4@university.edu,Putri,Rahayu
team-delta,member4a@university.edu,Rizky,Firmansyah
team-delta,member4b@university.edu,Sinta,Maharani
team-epsilon,leader5@university.edu,Taufik,Ismail
team-epsilon,member5a@university.edu,Umar,Habibi
team-epsilon,member5b@university.edu,Vina,Kusuma
team-epsilon,member5c@university.edu,Wawan,Setiadi
team-epsilon,member5d@university.edu,Xena,Purnama
team-epsilon,member5e@university.edu,Yusuf,Maulana
team-epsilon,member5f@university.edu,Zahra,Amelia
